body {
  margin: 0;
  padding-top: 100px;
  min-width: 1000px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.page-header {
  margin: 0;
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;   
  width: 100%;   
  height: 50px;
  background-color: #288be6;
}


.page-header .container,
.page-footer .container {
  display: flex;
  justify-content: right;
  max-width: 1408px;
}

.page-header a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;

}


.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}

.menu {
  position: relative;
  margin-left: 50px;
  border-radius: 5px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: none;
}


.menu-img {
  width: 30px;
  height: 30px;
  color: #288be6;
}

.navigation {
  display: none;
  position: absolute;
}

.menu:hover .navigation {display: block;}

.containerLink {
  float: right;
  width: 140px;
  background-color: #288be6;
}



.navigation a {
  margin: 0;
}

.navigation-link {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 10px;
  padding: 10px;
}

.navigation-link img {
  padding-left: auto;
}

.navigation-link p {
  margin: 0;
}

.card .container {
  display: flex;
  
}

.hero-image {
  background-image: url(./files/user.jpg);
  background-position: -150px;
  border-radius: 40px;
  height: 400px;
  width: 300px;
}

.info {
  margin-left: 50px;
}

.info h1{
  margin-bottom: 0;
  font-size: 30px;
}

.info p {
  margin-top: 0;
  font-size: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.anchor {
  display:block;
  height:60px; 
  margin-top:-60px; 
  visibility:hidden;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list li {
  list-style: none;
}

.skill {
  display: flex;
  align-items: center;
  padding: 0;
}

.skill p {
  margin: 0;
}

.skill-icon {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.skill-name {
  font-size: 20px;
} 

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 50px 24px;
  text-align: left;
}

.project-txt {
  text-align: left;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}


.slider {
  height: 928px;
  width: 1100px;
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-prev{
  position: relative;
  bottom: 600px;
  right: 100px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.slider-next{
  position: relative;
  bottom: 600px;
  right: -1050px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.page-footer {
  padding: 40px 0;
  background-color: #288be6;
  color: #ffffff;
}

.footer-info span{
  display: flex;
  justify-content: right;
}

.page-footer a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 150px;
  right: 100px;
  width: 60px;
  height: 60px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid #288be6;
  color: #288be6;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}