body {
  margin: 0;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px){
  .container {
    max-width: 970px;
  }
}

@media (max-width: 569px){
  .container {
    max-width: 90%;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header a {
    margin-left: 0;
  }
  
  .header-email,
  .header-phone {
    padding-left: 0;
  }

  .card .container {
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
  }

  .header-info a{
   margin: 0;
   padding: 0;
   text-align: left;

  }

  .footer-info {
    display: none;
  }

  .project-txt {
    display: none;
  }

  .slider-prev,
  .slider-next {
    display: none;
  }

}

header {
  margin: 0;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 40px;
  background-color: #288be6;
  display: flex;
  justify-content: right;
}

header a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
}

.header-phone {
  padding-left: 25px;
}

.menu {
  position: relative;
  margin-left: 50px;
  border-radius: 5px;
  padding: 0;
}

.menu-button {
  background: transparent;
  cursor: pointer;
  border: none;
}

.menu-img {
  width: 30px;
  height: 30px;
  color: #288be6;
}

.menu:hover .navigation {display: block;}

.navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 35px;
  margin-right: -20px;
  padding-top: 35px;
}

.navigation a {
  margin: 0;
}

.container-link {
  float: right;
  width: 140px;
  background-color: #288be6;
}

.navigation-link {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 10px;
  padding: 10px;
}

.navigation-link img {
  padding-left: auto;
}

.navigation-link p {
  margin: 0;
}


.card .container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.info h1{
  margin-bottom: 0;
  font-size: 30px;
}

.info p {
  margin-top: 0;
  font-size: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

.anchor {
  display:block;
  height:60px; 
  margin-top:-60px; 
  visibility:hidden;
}

.skills {
  margin-top: 50px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list li {
  list-style: none;
}

.skill {
  display: flex;
  align-items: center;
  padding: 0;
}

.skill p {
  margin: 0;
}

.skill-icon {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.skill-name {
  font-size: 20px;
} 

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}


.subheading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
}

.slider {
  position: relative;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.slider-line {
  display: flex;
  transition: all ease 1s;
}

.slider-img:not(:first-child) {
  margin-left: 2px;
}

.slider-img h3,
.slider-img p {
  margin-top: 5px;
  margin-bottom: 0;
}

.slider-prev {
  position: absolute;
  z-index: 900;
  top: 40%;
  left: 0;
  cursor: pointer;
  background: #22222273;
  border: none;
}

.slider-next {
  position: absolute;
  z-index: 900;
  top: 40%;
  right: 0;
  cursor: pointer;
  background: #22222273;
  border: none;
}

.button {
  padding: 1px 5px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}


footer {
  position: relative;
  padding: 20px;     
  background-color: #288be6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-name{
  color: #ffffff;
  text-align: right;
  margin: 0;
}

.footer-email {
  padding-left: 30px;
}

.footer-phone {
  padding-left: 25px;
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 130px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #288be6;
  color: #288be6;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}